.product {
	margin: 10px;
	width: 18rem !important;
	height: 25rem;
	border-color: rgb(188, 188, 188);
}
.product img {
	height: 287px;
	background-color: aliceblue;
}
a:link {
	text-decoration: none;
}
.product_name {
	font-size: 1.2vw;
	color: black;
}
.product_price {
	color: black;
	text-align: center;
	font-size: 1.2vw;
}
