.form {
	display: grid;
	place-items: center;
}
.form form {
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 2vw;
}

.inputField {
	margin: 0.5vw;
}
.inputField input,
.inputField select {
	border-radius: 5px;
	padding: 0.2vw 1vw;
	border: none;
	outline: none;
	font-size: 1.2vw;
}
