.homepage {
	height: 100vh;
	padding: 3vh 3vw;
}
header {
	display: flex;
	flex-direction: row;
	padding: 1vw;
	border-radius: 5px;
}
.register {
	margin-left: auto;
	border: none;
	color: black;
}

/* ******************************************** */

.filter {
	display: flex;
	flex-direction: row;
	margin: 3vh 0;
	padding: 1vw;
	border-radius: 5px;
	background-color: rgb(218, 213, 213);
}
.search {
	max-width: 20vw;
}
.category {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	max-width: 20vw;
}
.category > label {
	margin: auto;
	margin-right: 1vw;
}

/* ******************************************** */

.products_item {
	display: flex;
	flex-wrap: wrap;
}
.add_item {
	border: none;
	border-radius: 25px;
	background-color: grey;
	color: white;
	font-size: 1.2vw;
	margin: 1vw;
	padding: 0.5vw;
}
.item_not_found {
	text-align: center;
	font-size: 3vw;
}
